body {
  margin: 20px;

 background-color:yellow;
 color:hotpink;
 

}

.pre-login, .post-login, .pending-login, .selections, .pending-selection, .selection-made, .selection-reveal, .stats, .chat-row {
  display: none;
}

form[role=login] {
  max-width: 300px;
  margin: 0 auto;
}

.selections {
  margin: 0 auto;
}

.row {
  margin-bottom: 20px;
}

#chat-log {
  height: 200px;
  overflow: scroll;
  background-color: pink;
}

#chat-log li {
  padding: 5px;
  margin-left: 10px;
}

.current-user {
  color:blue;
}

.other-user {
  color: hotpink;
}

.system {
  color: white;
}